.mg_logo_mobile{
    width: 50px;
}

.mg_logo_lista{
    padding: 7px 5px;
}

main #sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.md_list_name{
    gap: 60px;
}

.mg_list_process{
    gap: 45px;
}

/* terminato esercizio */

